/PlanetHunters_3-26-14_Q1_annnotations_IBCC.csv
/PlanetHunters_3-26-14_Q1_annnotations_IBCC.csv.gz
/PlanetHunters_3-26-14_Q1_annnotations_IBCC_original.csv.gz
/PlanetHunters_3-26-14_Q1_annnotations_sim_IBCC.csv.gz
/PlanetHunters_3-26-14_Q1_annnotations_sim_IBCC_original.csv.gz
/PlanetHunters_3-26-14_Q1_light_curves_IBCC.csv.gz
/PlanetHunters_3-26-14_Q1_light_curves_and_sims.csv
/PlanetHunters_3-26-14_Q1_simulations_IBCC.csv.gz
/PlanetHunters_working_3-26-14_Q4_annnotations_IBCC.csv
/PlanetHunters_working_3-26-14_Q4_annnotations_IBCC.csv.gz
/PlanetHunters_working_3-26-14_Q4_light_curves_IBCC.csv.gz
/Q1_eb_as_planets_gold.csv
/Q1_planets.csv
/Q1_planets_numericids.csv
/validPlanetClassesQ1.csv
